.footer {
    bottom: 0;
    position: absolute;
}
@media (max-width: 767.98px) {
    .footer {
        bottom: 0;
        position: relative;
    }
}

.sidebar-portrait {
    width: 50%;
    padding-bottom: 25px;
}

/* Fix for portfolio tile images to ensure they fill container and are centered */
.box-masonry img {
    object-fit: cover;
    width: 100%;
}